/* Defaults */

a {
  -webkit-tap-highlight-color: transparent; /* Safari, Android, and other WebKit/Blink browsers */
}

body {
  font-weight: 400;
  font-size: 1rem;
  transition:
    font-size 0.5s,
    font-weight 0.5s;

  line-height: 24px;
}

@media (max-width: 1200px) {
  body {
    font-weight: 400;
    font-size: 0.95rem;
  }
}

@media (max-width: 992px) {
  body {
    font-weight: 400;
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  body {
    font-weight: 400;
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  body {
    font-weight: 400;
    font-size: 0.85rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(225, 225, 225);
}

html,
body {
  background-color: #111010;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 1rem;
}
