.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.webTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  transition:
    transform 0.5s,
    box-shadow 0.3s;

  will-change: transform; /* Optimize rendering for transformations */
}

.webTitle::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  z-index: -1;
}

.webTitle:hover::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
}

.titleLink {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  user-select: none;
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  left: -0.3rem;
  text-decoration: none;
  overflow: hidden;
  transition: color 0.3s;
  border-radius: 5px;

  box-sizing: border-box;
}

.styledLink {
  position: relative;
  padding: 0.5rem 1rem;
  text-decoration: none;
  overflow: hidden;
  transition: color 0.3s;
  border-radius: 5px;

  will-change: transform; /* Optimize rendering for transformations */
}

.titleLink:before,
.styledLink::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  opacity: 0;
  transition:
    opacity 0.3s,
    box-shadow 0.3s;
  z-index: 1;
}

.titleLink:hover:before,
.styledLink:hover::before,
.titleLink.active:before,
.styledLink.active::before {
  opacity: 1;
  box-shadow: 0 0 2px 2px rgba(0, 225, 255, 0.7);
}

.styledLink span {
  position: relative;
  z-index: 2;
}

.navLinks {
  display: flex;
  gap: 1rem;
  color: var(--inColor);
}

.desktopOnly {
  display: block;
}

.mobileOnly {
  display: none;
}

/* Media Queries */
@media (max-width: 428px) {
  .nav {
    justify-content: center;
  }

  .webTitle {
    padding: 0;
  }

  .navLinks {
    justify-content: center;
    gap: 0.25rem;
    font-size: 0.95rem;
  }

  .desktopOnly {
    display: none;
  }

  .mobileOnly {
    display: block;
  }

  .styledLink {
    padding: 0.5rem 0.75rem;
  }
}
